<!-- Jumbotron -->
    <div class="jumbotron aboutjumbo">
	
      <div class="container">
	
        <h1>About AiroTour, the free tour company</h1>
        <p>We believe free tours are the best way to explore a new city or destination. Come join us!</p>
      </div>
	  
    </div> 
    
<!-- Breadcrumbs -->
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="http://www.airotour.com">Home</a></li>
  	  <li><a href="http://www.airotour.com/about">About AiroTour</a></li>
    </ol>
  </div>	

<!-- intro text under jumbotron-->
	<div class="intro">
	<div class="container">
	<h2>A new way of exploring</h2>
	<p>We are a company that believes that free tours provide the best customer experience. Our company founders, Paul and Nuy, have been working in tourism for very long. They noticed the often bad quality of local tour guides, especially in Italy. Guides have been working for very long and do not get a lot of incentive to perform better. We believe free tours are the solution. Guides will have to be enthousiastic and interesting to get some tips. If they are boring, they are out! </p>
	<p>Furthermore, this way tours become much less expensive for tourists and travellers. We still believe that the best way to get to know a city is by taking a tour with a knowledgable and fun tour guide. Everybody can join a free tour, even if you are on a budget.
	</p>
	<p><strong>So come and join us on a free walking tour!</strong></p>
	<hr>
   
 </div>
</div>

<%= link_to 'Home', root_path %>