<div class="center jumbotron">



<!-- Jumbotron -->
<div class="front-image">
  <div class="jumbotron">
	  <div class="container">
	      <%= image_tag('icon.png') %>
        <h1>AiroTour, your FREE tour anywhere</h1>
        <p>Get free tours from local guides, in many cities around the world</p>
		  <div>
		    <p class="button"><a class="icon-menu">See how it works</a></p>
		  </div> 
    </div>
  </div> 
</div>
	
	
<!-- intro text under jumbotron-->
<div class="intro">
	<div class="container">
	<h2>Welcome to AiroTour, the perfect way of exploring new cities.</h2>
	<p>The idea behind AiroTour is simple: first, you book one of our free walking tours. Our local guides then show you the best parts of the city and answer all your questions about local culture and customs. After, you just tip the guide for his effort. Join many happy city explorers in this new way of getting to know a city. In our opinion, this is the best way to really get to know a place. Just have a look at some of the benefits of this way of exploring:</p>
	<p>
    <ul>
	<li>Free walking tours; you tip what you want</li>
	<li>Small groups; our booking system makes sure no group will be more than 20 people</li>
	<li>The best local guides; we vet every guide and tour to make sure you get the best experience</li>
	<li>No tour will be boring. None of our guides gets paid beforehand, so they know a boring monologue or a subpar performance will result in less tips</li>
	<li>Lots of choice; we operate many different free tours in every city, so we make sure you will see something that interests you, whether it be local culture or religious art in churches.</li>
	</ul>
   
 </div>
</div>

</div>

<%= link_to 'About', about_path %>